{% extends 'store/layout.html' %}

{% load static %}

{% block body %}
<div class="d-flex justify-content-center align-items-center vh-100">
<form class="login-sunmit-form p-4 shadow rounded" action="{% url 'register' %}" method="POST">
   <img src="{% static 'store/images/download.jpeg' %}" alt="Login Banner" class="form-banner">

     {% csrf_token %} 
     
      <div class="text-center mb-2">
   
    <a href="{% url 'login_view' %}" class="btn btn-link btn-sm"></a>
         </div>
     {% if message %}
      <div class="text-center mb-2">
    <div class="alert alert-danger mb-1" role="alert">
      {{ message }}
    </div>
    <a href="{% url 'register_view' %}" class="btn btn-link btn-sm">Login?</a>
  </div>
    {% endif %}
    
    
    <h2 class="text-center mb-4">register</h2>
    <div class="mb-3">
      <input type="text" name="username" class="form-control" placeholder="Username" required>
    </div>
    <div class="mb-3">
      <input type="text" name="email" class="form-control" placeholder="email" required>
    </div>
    <div class="mb-3">
      <input type="password" name="password" class="form-control" placeholder="Password" required>
    </div>
     <div class="mb-3">
      <input type="password" name="comfirmed_password" class="form-control" placeholder="again" required>
    </div>
    <div class="d-grid">
      <input type="submit" value="register" class="btn btn-primary">
    </div>
  </form>
</div>


{% endblock %}